<script>require("web/static/js/app").App.profiles()</script>

<h2 style='text-align:center;'>Help us to find these people</h2>
<div id="map_canvas" class="cf"></div>
<div id="images_carousel" style='text-align:center;'></div>